


      <div class="header">
        
        <strong>EMPLOYEES DATA</strong>
        <div class="header-right">
          
          <a class="active" href="#home">Home</a>
          <a class="active" routerLink="/dashboard">Dashboard</a>
          <a class="active" routerLink="/employeeDetails">Employee</a>
          
        </div>
      </div>
      
      <!-- <div style="padding-left:20px">
        <h1>Responsive Header</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
      </div> -->
    






<router-outlet></router-outlet>